.title{
    color: aqua;
}
.button{
    background-color: moccasin;
    cursor: pointer;
    border: 1px solid #e1a95e;
    height: 30px;
    width: auto;
    border-radius: 5px;
    text-align: center;
    
}
.button:hover{
    background-color: red;
}